body {
  background-color: azure;
  text-align: center;
}

/* in cross axis you still have to add the display:flex then you can add the align-tems
you also need to add height so the items(children) can move inside the container */
.container-one {
  /* this will make the parent container and children to start right at the border of the body */
  display: flex;
  border: 1px solid red;
  height: 200px;
  align-items: flex-start;
}

.child-one {
  border: 5px solid pink;
  margin: 5px;
  padding: 10px;
}

.container-two {
  display: flex;
  border: 1px solid blue;
  height: 100px;
  align-items: flex-end;
}

.child-two {
  border: 3px solid green;
  margin: 5px;
  padding: 10px;
}

/* to kind of remove the border, choose the same color as the 
body so that in your eyes it is borderless. align-items only work
when you add a border and height */

.container-three {
  display: flex;
  border: 1px solid azure;
  height: 200px;
  align-items: center;
}

.child-three {
  border: 5px solid yellow;
  margin: 5px;
  padding: 10px;
}

.container-four {
  display: flex;
  border: 1px solid yellowgreen;
  height: 100px;
  align-items: stretch;
}

.child-four {
  border: 3px solid red;
  background-color: blueviolet;
  margin: 5px;
  padding: 10px;
}

/* baseline means that the selected children will start at the top
then you can style a specific element */

.container-five {
  display: flex;
  border: 5px solid black;
  height: 200px;
  align-items: baseline;
}

.child-five {
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
}

.child-five:nth-child(3) {
  border: 4px solid red;
  font-size: 30px;
}
