body {
  background-color: antiquewhite;
  text-align: center;
}

/* the container-one is the parent and the child-one are the children,
you need to set the parent first to display flex then you can make the children move
  (flex-direction)
  -- */
/* .container-one {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid red;
  padding: 10px;
}

.container-one .child-one {
  float: right;
  border: 1px solid black;
  margin: 5px;
  background-color: pink;
} */

/* this is the second parent container that shows flex-direction row */
/* .container-two {
  display: flex;
  flex-direction: row;
  text-align: center; */
/* the parent container can have a border or not */
/* border: 1px solid blue;  */
/* } */
/* 
.child-two {
  border: 1px solid green;
  padding: 5px;
  margin: 5px;
} */

/* this is the third parent container that shows flex-direction row-reverse, with this direction the children 
will start at the end of the page */
/* .container-three {
  display: flex;
  text-align: center;
  flex-direction: row-reverse; */
/* the parent container can have a border or not */
/* border: 1px solid blue;  */
/* } */

/* .child-three {
  border: 1px solid green;
  padding: 5px;
  margin: 5px;
} */

/* you need to add flex-wrap so that the children will not style when you add style to the parent */

.container-four {
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  border: 1px solid blue;
  height: 200px;
  width: 500px;
  /* the parent container can have a border or not */
}

.child-four {
  border: 1px solid green;
  background-color: #e6c736;
  padding: 15px;
  margin: 5px;
}

.container-five {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  /* the parent container can have a border or not, if you add border to the parent element
    it will occupy the whole page */
  border: 1px solid blue;
  height: 200px;
  width: 500px;
}

.child-five {
  border: 1px solid #e6c736;
  background-color: #e6c736;
  padding: 15px;
  margin: 5px;
}

.container-six {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-end;
  /* the parent container can have a border or not, if you add border to the parent element
      it will occupy the whole page */
  border: 1px dotted blue;
  height: 300px;
  width: 500px;
}

.child-six {
  border: 1px solid #e6c736;
  background-color: #e6c736;
  padding: 35px;
  margin: 5px;
}

.container-seven {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-around;
  /* the parent container can have a border or not, if you add border to the parent element
        it will occupy the whole page */
  border: 3px solid black;
  height: 200px;
  width: 300px;
}

.child-seven {
  border: 1px solid #4fe6d2;
  background-color: #4fe6d2;
  padding: 15px;
  margin: 5px;
}

.container-eight {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  /* the parent container can have a border or not, if you add border to the parent element
      it will occupy the whole page */
  border: 4px solid black;
  height: 300px;
  width: 300px;
}

.child-eight {
  border: 1px solid #8884f0;
  background-color: #8884f0;
  padding: 25px;
  margin: 5px;
}
