* {
  box-sizing: border-box;
}

body {
  background-color: lightpink;
  text-align: center;
  padding: 50px;
}

.container > * {
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
}

/* check examples of flex-grow | flex-shrink | flex-basis */

/* flex-grow | flex-shrink | flex-basis */
/* flex: 0 2 calc(50% - 20px); */

/* .half {
  border: 1px solid red;
  width: 100%;

  flex-grow: 1;
  flex-shrink: 2;
  flex-basis: 25%;
  
} */

/* flex: 0 1 calc(25%- 20px); */
/* .fourth {
  border: 1px solid blue;

  width: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 15%;
} */

/* flex: 0 1 calc(33.33333% - 20px); */
/* .third {
  border: 1px solid black;
  width: 32.2%;
  flex-grow: 1;
  flex-direction: row;
  flex-shrink: 1;
  flex-basis: 30%;
} */

/* .sixth {
  border: 1px solid saddlebrown;
  width: 15.7%; 
  flex-grow: 1;
  flex-basis: 10%;
} */

/* .full {
  border: 1px solid yellow;
  width: 100%;
  flex: 0 1 100%;
} */

/* flex-grow | flex-shrink | flex-basis */
/* flex: 0 2 calc(50% - 20px); */

/* .fifth {
    border: 1px solid red;
    width: 100%;
  
    flex-grow: 1;
    flex-shrink: 2;
    flex-basis: 25%;

} */

/* -------------------gutters---------------- */
/* the mistake i did in the first try was not adding addition div to the second div that has a class="half\" */

.grid {
  display: flex;
  border: 1px solid red;
}

.gutters {
  margin: -10px 0 10px -10px;
}

.gutters > div {
  padding: 10px 0 0 10px;
}

.grid div div {
  background-color: aliceblue;
  padding: 10px;
  height: 100%;
}

.half {
  flex-basis: 50%;
  border: 1px solid blue;
}

.third {
  flex-basis: 33.333333%;
  border: 1px solid yellow;
}

.fourth {
  flex-basis: 25%;
  border: 2px solid brown;
}

.sixth {
  flex-basis: 16.66666%;
  border: 1px solid black;
}

/* -------------center--------------- */

.vcenter {
  display: flex;
  border: 1px solid green;
  height: 100px;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

p {
  margin: 0;
}

/* this will add space-around the words, if you want more words in the container */
.secondcenter {
  display: flex;
  border: 1px solid green;
  height: 100px;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}

nav {
  height: 100px;
}

li {
  list-style-type: none;
  flex-basis: 25%;
}
